* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
.wrapperFlex {
  display: flex;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  gap: 2rem;
  padding: 1.5rem;
}

header {
  height: 4rem;
  background-color: rgb(54, 54, 54);
  text-align: center;
  font-size: 3rem;
  color: white;
  font-style: italic;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 4rem;
  background-color: rgb(54, 54, 54);
}

aside {
  max-width: 7rem;
  min-width: 7rem;
  min-height: -webkit-fill-available;
  border-right: solid 3px rgb(54, 54, 54, 0.1);
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.numberOfBooks,
.numberOfReadBooks {
  display: block;
}
/* book container and childs styles start*/
.newBook {
  position: relative;
  width: 18rem;
  height: 12rem;
  background-color: rgb(190, 190, 190);
  border: 1px solid black;
  white-space: pre-wrap;
  padding: 2rem;
  line-height: 1.25;
  color: rgb(0, 0, 0);
  border-style: none;
  margin: 1rem;
}

#removeBtn {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  /* padding: 0.4rem; */
  height: 1.5rem;
  width: 1.5rem;
  background-color: transparent;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}
/* book container and childs styles end */

/* form's styles start*/

.form {
  width: 300px;
  height: 350px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
  border-radius: 0.5rem;
  text-align: center;
  font-family: "Raleway", sans-serif;
  background-color: rgb(170, 170, 170);
  z-index: 1;
}

input,
label {
  display: block;
  margin: auto;
  width: 14.9rem;
  height: 1.5rem;
}

input {
  outline: none;
}

label {
  font-size: 0.75rem;
  font-weight: bold;
}
.wrapper label,
.wrapper input {
  display: inline;
  margin: 0.2rem;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
}
.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.5rem;
}

.formButton {
  margin-top: 1rem;
  width: 7rem;
  height: 2rem;
  font-weight: bold;
}

/* form's styles end */

/* toggle button */

.button-cover {
  height: fit-content;
  margin: 20px;
  background-color: transparent;
  margin-top: 16.75rem;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 0%;
  width: 74px;
  height: 36px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

#button-2 {
  cursor: pointer;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}

#button-2 .knobs:before,
#button-2 .knobs:after {
  content: "YES";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #03a9f4;
  border-radius: 50%;
  transition: 0.3s ease all;
}

#button-2 .knobs:before {
  content: "YES";
}

#button-2 .knobs:after {
  content: "NO";
}

#button-2 .knobs:after {
  right: -28px;
  left: auto;
  background-color: #f44336;
}

#button-2 .checkbox:checked + .knobs:before {
  left: -28px;
}

#button-2 .checkbox:checked + .knobs:after {
  right: 4px;
}

#button-2 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}
