* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.newBook {
  width: 15rem;
  height: 9rem;
  background-color: rgb(153, 228, 103);
  border: 1px solid black;
  white-space: pre;
}

header {
  height: 1rem;
  background-color: grey;
}

.formDiv {
  width: 250px;
  height: 350px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
  font-family: "Raleway", sans-serif;
  background-color: rgb(170, 170, 170);
}

input,
label {
  display: block;
  margin: auto;
  width: 12rem;
  height: 1.5rem;
}

input {
  outline: none;
}

label {
  font-size: 0.75rem;
  font-weight: bold;
}
.addButton {
  margin-top: 1rem;
  width: 12rem;
  height: 2rem;
  font-weight: bold;
}
